.subjects { 
    background-color: #EFEFEF;
}

.subjects ul {
    background-color: #EFEFEF;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 30px 0;
}

.subjects li {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
}

.subjects li:not(:last-child) {
    border-right: 2px solid black;
}

.subjects li a:hover {
    border-bottom: 3px solid black;
}

.start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h2{
    font-size: 40px;
    font-weight: bolder;
}

.content a {
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    width: 50%;
    padding: 25px;
    background: linear-gradient(0.25turn, #FF7567, #FEC053);;
}
